<p style="color: green"><%= notice %></p>

<h1>Foods</h1>

<% if current_user %>
  <div class="text-end pb-4">
    <%= link_to new_food_path, class: 'btn btn-secondary' do%>
      <i class="fas fa-plus"></i>
      <span class="">New Food</span>
    <% end %>
  </div>
<% end %>

<%= paginate @foods %>

<table class="table table-bordered table-striped">
  <thead>
    <tr class="text-center">
      <th>Food</th>
      <th>Measurement unit</th>
      <th>Unit Price</th>
      <% if current_user %>
        <th>Actions</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% if @foods.length === 0 %>
    <tr class="text-center fw-bold">
      <td colspan="4">
        <i class="far fa-frown"></i>
        <span>No foods found</span>
      </td>
    </tr>
    <% else %>
      <% @foods.each do |food| %>
        <tr class="text-center">
          <td><%= food.name %></td>
          <td><%= food.measurement_unit %></td>
          <td><%= food.price %></td>
          <% if current_user.id == food.user_id %>
            <td>
              <%= button_to food, method: :delete, class: 'btn btn-danger' do%>
                <i class="fas fa-trash-alt"></i>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<%= paginate @foods %>