<header class="d-flex justify-content-between align-items-center px-5 bg-dark text-white py-3">
  <div class="d-flex align-items-center">
    <i class="far fa-clipboard fs-2"></i>
    <%= link_to "Recipe App", root_path, class: "nav-link text-white fs-4 fw-bold" %>
  </div>
  <nav>
    <ul class="d-flex gap-2 m-0">
      <!--li class="nav-item"><%= link_to "Public recipe", public_recipes_path, class: "btn btn-secondary text-white fas fa-globe" %></li-->
      <%= link_to public_recipes_path, class: "btn btn-secondary" do %>
        <i class="fas fa-globe"></i>
        <span class="">Public recipe</span>
      <% end %>
      <% if user_signed_in? %>
        <!--li class="nav-item"><%= link_to "Food", foods_path, class: "btn btn-primary text-white fas fa-utensils" %></li-->
        <%= link_to foods_path, class: "btn btn-primary" do %>
          <i class="fas fa-utensils"></i>
          <span class="">Food</span>
        <% end %>
        <!--li class="nav-item"><%= link_to "Recipe", recipes_path, class: "btn btn-success text-white far fa-clipboard" %></li-->
        <%= link_to recipes_path, class: "btn btn-success" do %>
          <i class="far fa-clipboard"></i>
          <span class="">Recipe</span>
        <% end %>
        <!--li class="nav-item"><%= button_to "Logout", destroy_user_session_path, method: :delete, class: "btn btn-danger text-white fad fa-sign-out" %></li-->
        <%= button_to destroy_user_session_path, method: :delete, class: "btn btn-danger" do %>
          <i class="fad fa-sign-out"></i>
          <span class="">Logout</span>
        <% end %>
      <% else %>
        <!--li class="nav-item"><%= link_to "Sign in", new_user_session_path, class: "btn btn-success fad fa-sign-in" %></li-->
        <%= link_to new_user_session_path, class: "btn btn-success" do %> 
          <i class="fad fa-sign-in"></i>
          Sign In
        <% end %> 
        <!--li class="nav-item"><%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary" %></li-->
        <%= link_to new_user_registration_path, class: "btn btn-primary" do %> 
          <i class="fad fa-sign-in"></i>
          Sign Up
        <% end %> 
      <% end %>
    </ul>
  </nav>
</header>